# --- FRONTEND ---

# Dependencias de Node.js
tp5-frontend/node_modules/

# Archivos de compilación de React
tp5-frontend/build/

# Archivos temporales
tp5-frontend/.env
tp5-frontend/.DS_Store
tp5-frontend/npm-debug.log*
tp5-frontend/yarn-debug.log*
tp5-frontend/yarn-error.log*

# --- BACKEND ---

# Entorno virtual de Python
tp5/env/

# Compilaciones de Python
tp5/__pycache__/
tp5/*.pyc
tp5/*.pyo

# Archivos de configuración sensibles
tp5/.env

# --- GENERAL ---

# Logs
*.log

# Configuración de sistema
.DS_Store
Thumbs.db

# Archivos de volúmenes de Docker (si generás volúmenes en local)
mysql-data/

# Evitar subir archivos de VS Code (opcionales)
.vscode/
